body {
	color: white;
	font-family: Helvetica, Arial, Verdana, Sans-Serif;
	height: 720px;
	width: 1280px;
	margin: 0;
}
video {
	z-index: 0;
	height: 720px;
	width: 1280px;
}
#wrapper {
	position: absolute;
	top: 0; left: 0;
	text: black;
	height: 720px;
	width: 1280px;
	overflow: hidden;
	display: none;
	z-index:1;
}
#videoheader {
	position: absolute;
	top: 10px; left: 10px;
}
#backgroundImage {
	position: absolute;
	top: 0; left: 0;
	height: 720px; width: 1280px;
}

#content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1280px; height: 720px;
	color: white;
}

#innerContent {
	position: absolute;
	top: 0px; left: 0;
	width: 100%;
}

#overlay {
	position: absolute;
	top: 0; left: 0;
	z-index: 0;
}

#logo {
	position: absolute;
	top: 50px; left: 50px; 
	z-index: 110;
}
#upArrow {
	position: absolute;
	top: 407px; left: 118px;
}
#downArrow {
	position: absolute;
	top: 644px; left: 118px;	
}
#leftArrow {
	position: absolute;
	top: 395px; left: 267px;	
}
#rightArrow {
	position: absolute;
	top: 395px; left: 1144px;	
}
#pager {
    background: url("../../images/1280x720/pagingback.png") repeat scroll 0 0 transparent;
    background-opacity: 0.7;
    color: black;
    height: 31px;
    left: 1048px;
    line-height: 28px;
    position: absolute;
    top: 559px;
    width: 66px;
}
#paging {
    color: white;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    text-align: center;
    width: 100%;
}
#playicon {
    left: 416px;
    position: absolute;
    top: 435px;
    z-index: 100;
}
#pageTitle {
	color: #F1F1F1;
    font-family: Arial,sans-serif;
    font-size: 28px;
    height: 34px;
    line-height: 34px;
    margin: 0 0 20px;
    padding: 0;
}
#playlistsWrapper {
	position: absolute;
	left: 331px;
	top: 406px;
	width: 783px;
	overflow: hidden;
	z-index: 50;
	height: 146px;
}
#playlists {
	position: absolute;
	top: 0;left:0;
	width: 50000px;
	height: 100000px;
}
div.videoCategory {
	height: 146px;
	width: 400000px;
  margin-bottom: 5px;
}
div.vidItem {
	display: inline-block;
	margin-right: 9px;
}

div.vidItem img {
	width: 249px;
	height: 140px;
	border: 3px #000 solid;
}

#videoInfo {
	position: absolute;
	top: 565px; left: 331px;
	width: 767px;
}
video {
	height: 720px; width: 1280px;
	position: absolute;
	top: 0; left: 0;
}
#videoInfo h1 {
  	color: #fff;
    font-family: Arial,serif;
    font-size: 24px;
	font-weight: normal;
	margin-bottom: 5px;
}
#videoInfo .h2 {
	font-size: 20px;
	color: #bfbfbf;
	width: 767px;
	line-height: 24px;
	height: 48px;
	text-overflow: ellipsis;
}
#playlistsNavWrapper {
	position: absolute;
	top: 444px; left: 113px;
	overflow: hidden;
	width: 150px;
	height: 185px;
}
#playlistsNav {
	position: absolute;
	top: 0; left: 0 ;

}
#playlistsNav li {
	font-size: 20px;
	border-bottom: 1px solid rgba(82,82,82, 0.7);
	padding: 8px 0;
	width: 132px;
	padding-left: 4px;
}
#playlistsNav > li.focused {
	color: #00bff3;
}
#focusVideoDescription {
	display: block;
	overflow:hidden;
	width: 100%;
	line-height: 24px;
	height: 48px;
	text-overflow: ellipsis;
}
#videoPage {
	height: 100%;
	width: 100%;
	display:none;
}
#progressWrapper {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    height: 4px;
    left: 652px;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 89px;
    width: 436px;
}
#currentProgressTime {
    color: white;
    font-size: 16px;
    height: 32px;
    line-height: 32px;
    position: absolute;
    right: 100px;
    top: 72px;
}
#nowPlayingText {
    font-size: 18px;
    left: 652px;
    position: absolute;
    top: 32px;
}
#nowPlayingTitle {
    font-size: 24px;
    left: 652px;
    font-weight: bold;
    position: absolute;
    top: 56px;
}
#indicator {
    background: none repeat scroll 0 0 rgba(0, 191, 243, 0.7);
    font-size: 1px;
    height: 8px;
    left: 0;
    position: absolute;
    top: 0;
    width: 0px;
}

#videoNavbar {
	background: url("../../images/960x540/navbar_back.png");
	color: white;
}
.navbar {
	position: absolute;
	bottom: 0px; left: 0px;
	width: 1280px; height: 36px;
	
}
.controlHints {
	position: absolute;
	top: 5px; left: 20px;
}
.buttonOptions {
	position: absolute;
	top: 4px; right: 20px;
}
.buttonOptions div {
	height: 28px; line-height: 28px;
}
.navbutton {
	padding-left: 33px;
	display:inline-block;
	margin-right: 15px;
}
.backButton {
	background: url(../../images/navbar/white/help_back.png) no-repeat;
}
.aButton {
	background: url(../../images/navbar/buttonicons/help_icon_a.png) no-repeat;
}

/**
 YUME Tags
**/
#video_box {
	height: 720px; width: 1280px;
	background: #cc0000;
	z-index: 10000;
}

#videoInfoWrapper {
	height: 100%;
	width: 100%;
	display: none;
	z-index: 2000;
}
#videoInfoBox {
	position: absolute;
	top: 160px; left: 340px;
	height: 400px; width: 680px;
	background: rgba(0,0,0,0.85);
	border: 1px solid #c9c9c9;
		z-index: 2001;
}

#vidBack {
	background: rgba(200,0,0,0.6);
	margin: 0;
	height: 100%; width: 100%;
	z-index:2000;
}
